.tile {
  border: black solid 1px;
  flex: 1 1 100%;
}

.hoverTile {
  background-color: black;
}

.gridContainer {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  width: 400px;
  max-width: 400px;
  height: 400px;
}

.rowContainer {
  display: flex;
  flex: 1 1 100%;
}